SECRET_KEY=your-secret-key-here
DEBUG=True

# Firebase Cloud SQL PostgreSQL connection details
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your-firebase-db-password
DB_HOST=127.0.0.1  # Replace with the Public IP from Firebase Console
DB_PORT=5432